form {
  width: 90vw;
  height: 4em;
  background-color: #AEF2E6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    border-radius: 7px;
    width: 70%;
    height: 2.75em;
    padding: 1em;
  }
}