@import 'variables';
@import 'mixins';

form {
  background-color: $seafoam;
  border-radius: 10px;
  height: 4em;
  @include flex-center-center();
  width: 90vw;

  input {
    border-radius: 7px;
    height: 2.75em;
    padding: 1em;
    width: 70%;
  }
}