@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Nunito', 'Arial', sans-serif;
  min-height: 100vh;
  color: $dark-gray;
}

button:hover {
  cursor: pointer;
}

p {
  font-size: .85em;
}

a {
  text-decoration: none;
  color: $dark-gray;
  height: fit-content;
}

form,
input,
img,
button,
.learn-more-btn,
.park-card,
.park-page,
.activity,
.park-page-add-btn {
  box-shadow: 0 2px 9px -6px;
}

