* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;
  color: #252324;
}

button:hover {
  cursor: pointer;
}

form,
input,
.park-card {
  box-shadow: 0 2px 9px -6px;
}
