@import 'variables';
@import 'mixins';

.error-page {
  flex-direction: column;
  @include flex-center-center();
  width: 100%;
  
  .invalid-url {
    font-size: 2.5em;
  }

  .server-down {
    font-size: 2em;
    margin: 3em;
    text-align: center;
  }

  .error-home-icon {
    &:hover {
      color: $orange;
    }
  }
}