@import 'variables';
@import 'mixins';

header {
  background:
    linear-gradient(to bottom, transparent, $light-gray),
    url('../assets/HeroImage.jpeg');
  background-size: cover;
  background-position: center;
  height: 45vh;
  @include flex-space-between();
  padding: 1em;

  h1 {
    text-decoration: none;
    transition: all 100ms ease-in-out;
    @include orange-gray-btn()
  }
}

nav {
  @include flex-space-between();
  width: 160px;

  .home-icon {
    @include orange-gray-btn()
  }

  .bucket-list-btn {
    border-radius: 10px;
    font-size: .8em;
    height: 2.5em;
    @include flex-center-center();
    @include orange-yellow-btn();
    transition: all 100ms ease-in-out;
    width: 110px;
  }
}