main {
  background-color: #f2f2f2;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.park-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  width: 90vw;
  margin-top: 2em;
}