@import 'variables';

main {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  min-height: 55vh;
  padding-bottom: 3em;
}

.park-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, .75fr));
  grid-gap: 1em;
  justify-content: center;
  margin-top: 2em;
  width: 90vw;
}

.no-bucket-list {
  font-size: 1em;
  text-align: center;
}